ion-content ion-toolbar {
  --background: translucent;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padder {
  margin: 30% 0;
}

.scan-button {
  margin: 50px;
  width: 70%;
  height: 50px;
}

.list-styling{
  margin-top: 20px;
  width: 70%;
}
  
